
.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.chat__container {
    width: 500px;
}
.chat__container .chat__window .panel-body {
    height: 400px;
    overflow: auto;
}

.bg_muted {
    background-color: #d2d6de;
}